<div class="IT-footer">
    <a  href="index.html" target="_self"><span>最新</span></a>
    <a  href="channel-index-1" target="_self"><span>手机</span></a>
    <a href="channel-index-8.html" target="_self"><span>笔记本</span></a>
    <a href="channel-index-2.html" target="_self"><span>相机</span></a>
    <a href="channel-index-6.html" target="_self"><span>家电</span></a>
    <a href="channel-index-5.html" target="_self"><span>数码</span></a>
    <a href="channel-index-10.html" target="_self"><span>DIY装机</span></a>
    <a href="channel-index-11.html" target="_self"><span>显示器</span></a>
    <br/>
    <a href="channel-index-7.html" target="_self"><span>音频</span></a>
    <a href="channel-index-3.html" target="_self"><span>台式机</span></a>
    <a href="channel-index-4.html" target="_self"><span>键盘鼠标</span></a>
    <a href="channel-index-9.html" target="_self"><span>移动存储</span></a>
    <a href="channel-index-12.html" target="_self"><span>企业IT</span></a>
    <div class="bottom"><img src="public/img/f_logo.png" alt=""><a href="#">用户反馈</a><a href="#">合作</a></div>
</div>