<div class="nav-open" ng-hide="navAllShow">
    <!--全部导航开始-->
    <div class="nav-all">
        <div class="item">
            <a ng-click="navHideEvent()" href="index.html" target="_self">最新</a>
            <a ng-click="navHideEvent()" href="channel-index-1.html" target="_self">手机</a>
            <a ng-click="navHideEvent()" href="channel-index-2.html" target="_self">相机</a>
            <a ng-click="navHideEvent()" href="channel-index-3.html" target="_self">台式机</a>
            <a ng-click="navHideEvent()" href="channel-inde-4.html" target="_self">键盘鼠标</a>
        </div>
        <div class="item">
            <a target="_self" ng-click="navHideEvent()" href="channel-index-5.html">数码</a>
            <a target="_self" ng-click="navHideEvent()" href="channel-index-6.html">家电</a>
            <a target="_self" ng-click="navHideEvent()" href="channel-index-7.html">音频</a>
            <a target="_self" ng-click="navHideEvent()" href="channel-index-8.html">笔记本</a>
            <a target="_self" ng-click="navHideEvent()" href="channel-index-9.html">移动存储</a>
        </div>
        <div class="text-left">
            <a target="_self" ng-click="navHideEvent()" href="channel-index-10.html">DIY</a>
            <a target="_self" ng-click="navHideEvent()" href="channel-index-11.html">显示器</a>
            <a target="_self" ng-click="navHideEvent()" href="channel-index-12.html">企业IT</a>
            <a target="_self" ng-click="navHideEvent()" href="channel-index-13.html">汽车</a>
        </div>
    </div>
    <!--全部导航结束-->

    <!--图赏...评测部分开始-->
    <ul class="tushang clearfix">
        <li><a href="http://s.it168.com/" target="_self"><img src="public/img/baojia.png" alt=""><span>报价</span></a></li>
        <li><a href="http://shike.it168.com/" target="_self"><img src="public/img/shiyong.png" alt=""><span>试用</span></a></li>
        <li><a href="http://live.it168.com/" target="_self"><img src="public/img/zhibo.png" alt=""><span>直播</span></a></li>
        <li><a href="http://benyouhui.it168.com" target="_self"><img src="public/img/luntan.png" alt=""><span>论坛</span></a></li>
        <!--<li><a href="#" target="_self"><img src="public/img/pingce.png" alt=""><span>评测</span></a></li>-->
    </ul>
    <!--图赏...评测部分结束-->
    <div style="text-align: center;font-size: .68266667rem;color: #333;"><a href="javscript:void(0);" style="color: #E6242B;margin-right: 0.6rem;">触屏版</a><a href="http://www.it168.com" style="margin-right: 0.6rem;">电脑版</a><a
            href="http://a.app.qq.com/o/simple.jsp?pkgname=com.it168">客户端</a></div>
    <script>
        $(function(){
            if ($(".m-it168-top-ad").length) {
                $(".nav-open").css({"padding-top": "6.336rem"});
            }
        })
    </script>
</div>