<div class="share-wrap" ng-click="shareHideEvent()">
    <div class="wx-share-img">
        <img src="public/img/weixin_share2.png" alt="">
    </div>
    <div class="IT-share">
        <div class="close" ng-click="shareHideEvent()"></div>
        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1515997092753">
            <h2 class="graydeep">分享到</h2>
            <p><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina">微博</a></p>
            <p><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone">QQ空间</a></p>
        </div>
        <div class="qita-share">
            <p>请使用浏览器的分享功能<br/>分享到微信等</p>
        </div>
    </div>
</div>