@charset "UTF-8";
@import "base";
body{
  padding-bottom: 1.6rem;
  background: $color2;
  &.indexBody{
    background: #f4f4f4;
  }
}
.header{
  padding: 0 .32rem;
  height: 1.17rem;
  background: #fff;
  >.fl,>.fr{
    height: 100%;
    line-height:1.17rem;
  }
  >.fl{
    width: 2.35rem;
    >img{
      width: 100%;
    }
  }
  >.fr{
    font-size: .37rem;
    color: #6a6c6c;
  }
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 99999;
  a{
    display: block;
    width: 41.8%;
    height: 1.44rem;
    &:first-child{
      position: absolute;
      top: 0;
      left: 0;
      width: 16%;
      background: #fff;
      img{
        display: block;
        margin:.2rem auto .08rem;
        width: .56rem;
      }
      span{
        font-size: .29rem;
        color: #666;
      }
    }
    &.tel,&.sendOrder{
      line-height: 1.44rem;
      color: #fff;
      font-size: .43rem;
    }
    &.tel{
      background: #04AC91;
    }
    &.sendOrder{
      background:$color2;
    }
  }
}
.reBack{
  position: fixed;
  top: 1.52rem;
  left: .37rem;
  width: .93rem;
  height: .93rem;
  z-index: 9999;
  @include border-radius(50%);
  background-color: rgba(0,0,0,.2);
  a{
    display: block;
    width: 100%;
    height: 100%;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - .24rem);
      left: calc(50% - .145rem);
      width: .29rem;
      height: .48rem;
      background: url("../images/return@2x.png") no-repeat center center;
      background-size: 100%;
      -webkit-background-size: 100%;
    }
    @include border-radius(50%);

  }
}
.header-banner {
  width: 100%;
  .swiper-slide {
    width: 100%;
    img{
      width: 100%;
    }
  }
  .swiper-pagination {
    bottom: .26rem;
  }
  .swiper-pagination-bullet {
    position: relative;
    @include border-radius(50%);
    width:.27rem;
    height: .27rem;
    background:#909394;
    span {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background: #EEE7E0;
    }
    &.swiper-pagination-bullet-active {
      span {
        background: #fff;
      }
    }
  }
}
.col4{
  >a.fl{
    display: block;
    float: left;
    width: 25%;
    font-size: .32rem;
    color: #6a6c6c;
    text-align: center;
  }
}
.quick-entry{
  padding: .45rem 0;
  .quick-box{
    height: 1.39rem;
    .img{
      height: .93rem;
      line-height: .93rem;
    }
    &.quick-box1{
        img{
          width:.72rem;
        }
    }
    &.quick-box2{
      img{
        width:.6rem;
      }
    }
    &.quick-box3{
      img{
        width:.5rem;
      }
    }
    &.quick-box4{
      img{
        width:.67rem;
      }
    }
  }
}
.brand-enter{
  padding: .45rem 0;
  .col4:first-child{
    margin-bottom:.3rem;
  }
  .img{
    margin:0 auto;
    width: 1.38rem;
    height: 1.5rem;
    img{
      width: 100%;
      max-height: none;
    }
  }
}
.floor-tit{
  padding-left: .32rem;
  height: 1.12rem;
  line-height: 1.12rem;
  >img,>span{
    @include inline;
    vertical-align: middle;
  }
  >img{
    margin-right: .1rem;
    width: .48rem;
  }
  >span{
    color: $color1;
    font-size: .43rem;
  }
}
.floor-repair{
  >div{
    width: 100%;
    height: 6.13rem;
    a{
      display: block;
    }
    >div{
      height: 100%;
      &.fl{
        width: 59%;
        >div{
          height: 50%;
        }
      }
      &.fr{
        width: 41%;
      }
    }
  }
}
.floor-repair-text{
  >a{
    height: 100%;
  }
  .graphic-text{
    padding: .59rem 0 0 .53rem;
    width: 68%;
    span{
      margin:.13rem 0 .08rem;
    }
  }
  .graphic-img{
    padding: .24rem 0;
    width: 32%;
    height: 100%;
    img{
      width: 1.28rem;
    }
  }
}
.graphic-text{
  span,p{
    display: block;
  }
  strong{
    @include inline;
    padding: .05rem .19rem;
    background: $color3;
    background-image: -webkit-linear-gradient(-130deg, $color3 0%, #06AD73 100%);
    background-image: linear-gradient(-130deg, $color3 0%, #06AD73 100%);
    @include border-radius(.05rem);
    font-size: .29rem;
    color: #fff;
  }
  span{
    font-size: .35rem;
    color: $color1;
  }
  p{
    font-size: .29rem;
    color: #777;
    @include eclipse;
  }
}
.floor-repairR{
  .graphic-text{
    padding: .59rem 0 0 .56rem;
    height: 2.9rem;
  }
  .graphic-img{
    height: 3.2rem;
    img{
      width: 100%;
    }
  }
}
.floor-hot{
  padding:0 .32rem  .32rem 0;
  li{
    position: relative;
    float: left;
    padding-left: .32rem;
    margin-bottom: .29rem;
    width: 50%;
    >a{
      display: block;
      padding: .16rem 0 0 .53rem;
      width: 100%;
      height: 2.9rem;
      border:1px solid #ddd;
      @include border-radius(.05rem);
      strong,p,span{
        display: block;
      }
      strong{
        font-size: .37rem;
        color: $color1;
      }
      p{
        margin: .13rem 0 .08rem;
      }
      p,.old-price{
        font-size: .29rem;
        color: #777;
        @include eclipse;
      }
      .new-price{
        margin-bottom: .08rem;
        font-size: .42rem;
        color: $color;
      }
      .more{
        position: absolute;
        right: .34rem;
        bottom: .38rem;
        width: .18rem;
        img{
          width:100%;
        }
      }
    }
  }
}
.hotMore{
  margin-right: -.32rem;
  a{
    display: block;
    padding: .32rem 0;
    margin:.27rem auto;
    width: 94%;
    color: #fff;
    background: $color;
    font-size: .4rem;
    @include border-radius(.59rem);
  }
}
.quick-intro{
  padding: .32rem;
  img{
    width: 100%;
  }
}
.quick-intro-bot{
  li{
    float: left;
    position: relative;
    margin-bottom: .27rem;
    width: 4.5rem;
    height: 2.8rem;
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
    img{
      width: 100%;
    }
    &:nth-child(2n){
      float: right;
    }
    p{
      position: absolute;
      padding-left: .21rem;
      width: 100%;
      bottom: 0;
      left: 0;
      height: .75rem;
      line-height: .75rem;
      color: #fff;
      font-size: .32rem;
      @include eclipse;
     @include opacity(79);
      background: #000;
      background-image: -webkit-linear-gradient(-180deg, rgba(0,0,0,0.00) 10%, #000000 100%);
      background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 10%, #000000 100%);
    }
  }
}
.problem{
  ul{
    padding: 0 .32rem;
  }
  li{
    padding: .16rem 0;
    border-bottom: 1px solid #eee;
    strong{
      position: relative;
      display: block;
      margin-bottom: .19rem;
      font-size: .37rem;
      color: $color1;
      &:before{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        width: .37rem;
        height: .36rem;
        margin-top: -.18rem;
        background: url("../images/arrow_down@2x.png") no-repeat center center;
        background-size:100% ;
      }
    }
    p{
      display: none;
      color: #676767;
      font-size:.32rem
    }
    &.act{
      strong:before{
        background: url("../images/arrow_up@2x.png") no-repeat center center;
        background-size:100% ;
      }
      p{
        display: block;
      }
    }
  }
}
.footer-link{
  margin:.27rem auto .2rem;
  padding: .29rem 0;
  a{
    display: block;
    float: left;
    width: 25%;
    height: .69rem;
    line-height: .69rem;
    font-size: .32rem;
    color: $color1;
  }
}

/*换屏*/
.panel-banner{
  position: relative;
  width: 100%;
  min-height: 9.36rem;
  background: $color2;
  background-image: -webkit-linear-gradient(-180deg, rgba(238,238,238,0.00) 68%, #58D3C1 91%);
  background-image: linear-gradient(-180deg, rgba(238,238,238,0.00) 68%, #58D3C1 91%);
  img{
    width: 100%;
  }
}
.panel-banner-nav,.panel-tab,.panel-box{
  width: 9.2rem;
}
.panel-banner-nav{
  position: absolute;
  padding: .32rem 0;
  bottom: .16rem;
  left: calc(50% - 4.6rem);
  @include border-radius(.16rem);
  li{
    float: left;
    width: 25%;
    a{
      display: block;
      width: 100%;
      padding-top: .2rem;
      img,span{
        display: block;
      }
      img{
          margin: 0 auto .17rem;
          width: .85rem;
      }
      span{
        font-size:.32rem;
        color: #666;
      }
    }
  }
}
.panel-tab{
  margin:.51rem auto 0;
  >ul{
    width: 100%;
    li{
      padding: .16rem 0 .08rem;
      width: 4.5rem;
      background: #fff;
      @include opacity(70);
      @include border-radius(.16rem .16rem 0 0);
      strong,span{
        display: block;
      }
      strong{
        font-size: .4rem;
        color: $color1;
      }
      span{
        font-size: .27rem;
        color: #888;
      }
      &.act{
        @include opacity(100)
      }
    }
  }
}
.panel-main{
  padding-bottom: .53rem;
  @include border-radius( 0 0 .16rem .16rem);
  li{
    float: left;
    margin-top: .91rem;
    width: 33.3%;
    overflow: hidden;
    img,del,ins{
      display: block;
    }
    img{
      margin:0 auto .27rem;
      width: .96rem;
    }
    strong{
      font-size: .32rem;
      color: $color1;
    }
    del{
      margin: .053rem 0;
      color: $color1;
      font-size: .29rem;
    }
    ins{
      font-size: .37rem;
      color: $color2;
    }
  }
  .more{
    display: block;
    margin:.64rem auto 0;
    color: #2595F7;
    font-size: .32rem;
  }
}
.case-title{
  margin: .91rem auto .53rem;
  font-size: .43rem;
  text-align: center;
  color: #fff;
  &:before,&:after,span{
    @include inline;
    vertical-align: bottom;
  }
  &:before,&:after{
    content: '';
    width: .613rem;
    height: .83rem;
}
  &:before{
    background: url("../images/title_l@2x.png") no-repeat center center;
    background-size: 100%;
    -webkit-background-size: 100%;
  }
  &:after{
    background: url("../images/title_r@2x.png") no-repeat center center;
    background-size: 100%;
    -webkit-background-size: 100%;
  }
}
.panel-box{
  margin:0 auto;
  padding: .53rem  .37rem 1.1rem .45rem;
  @include border-radius(.16rem);
  strong{
    display: block;
    margin-bottom: .08rem;
    font-size: .37rem;
    color: $color1;
  }
  p{
    line-height: .53rem;
    color: #676767;
    font-size: .32rem;
  }
}
.senseT{
  margin-bottom: .61rem;
  >div.fl{
    width: 2.9rem;
    padding-left: .13rem;
    img{
      width: 100%;
    }
  }
  >div.fr{
    width:4.96rem;
    strong{
      margin-top: .37rem;
    }
    p{
      height: 1.44rem;
    }
  }
}
.senseB{
  .outer{
    margin-bottom: .67rem;
  }
}
.sense-problem{
  padding-bottom: .64rem;
  li{
    margin-top: .59rem;
    &:first-child{
      margin-top: 0;
    }
  }
  .more{
    display: block;
    margin:.59rem auto 0;
    width: 3.57rem;
    padding: .29rem 0;
    font-size: .4rem;
    color: $color2;
    border:1px solid $color2;
    @include border-radius(.59rem);
    &:after{
      content: '';
      @include inline;
      width: .37rem;
      height: .19rem;
      background: url("../images/garrow_down@2x.png") no-repeat center center;
      background-size: 100%;
      -webkit-background-size: 100%;
    }
  }
}

@media screen and (min-width: 1025px) {
  html, body {
    margin: 0 auto;
    width: 480px !important;
  }
  .footer{
    width: 480px!important;
    left: 50%;
    margin-left: -240px;
  }
}
