@charset "UTF-8";
@import "base";
.header{
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -42%;
  width: 82%;
  z-index: 9;
  min-width: 564px;
}
.header-left{
  width: 10%;
  img{
    width: 100%;
  }
}
.header-right{
  li{
    @include inline;
    min-width: 98px;
    text-align: center;
    line-height: 1.7;
    a{
      display: block;
      width: 100%;
      font-family: Montserrat-Light;
      font-size: 12px;
      color: #fff;
      letter-spacing: 1.7px;
      &:hover{
        font-weight: bold;
      }
    }
  }
}
.header-banner{
  width: 100%;
  height:1080px;
  .swiper-slide{
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    //min-width: 100%;
    &.swiper-slide1{
      background: url("../images/header/header-bg-1.png") no-repeat center center;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/header/header-bg-1.png', sizingMethod='scale');
    }
    &.swiper-slide2{
      background: url("../images/header/header-bg-2.png") no-repeat center center;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/header/header-bg-2.png', sizingMethod='scale');
    }
    &.swiper-slide3{
      background: url("../images/header/header-bg-3.png") no-repeat center center;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/header/header-bg-3.png', sizingMethod='scale');
    }
  }
  /*.swiper-pagination{
    bottom: 30px;
  }
  .swiper-pagination-bullet{
    @include border-radius(0);
    width: 7.6%;
    height: 4px;
    background:rgba(255,255,255,1);
    &.swiper-pagination-bullet-active{
      background: #ff791f;
    }
  }*/
  .pagination{
    bottom: 30px;
  }
  .swiper-pagination-switch{
    @include border-radius(0);
    width: 7.6%;
    height: 4px;
    background:#fff;
    &.swiper-active-switch{
      background: #ff791f;
      border-color: #ff791f;
    }
  }
  .header-down{
    position: absolute;
    bottom: 64px;
    z-index: 9;
  }
}
.header-down{
  width: 100%;
  p{
    margin-bottom: 20px;
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
  }
  div{
    @include inline;
    width: 180px;
    height: 50px;
    line-height: 50px;
    background: $color;
    @include border-radius(4px);
    &:last-child{
      margin-left: 8px;
    }
    &:hover{
      background: #dd6616;
    }
    a{
      display: block;
      color: #fff;
      font-family: Montserrat-Regular;
      &:before{
        content: '';
        @include inline;
        margin:-3px 6px 0 0;
        vertical-align: middle;
        width: 14px;
        height: 16px;
        background-image: url("../images/exwys-web-sprite.png");
        background-repeat: no-repeat;
      }
    }
    &.app{
      a:before{
        background-position: -1px -1px;
        background-size: 200%;
      }
    }
    &.google{
      a:before{
        background-position: -1px -22px;
        background-size: 200%;
      }
    }
  }
}
.header-intro{
  position: absolute;
  left: 8%;
  top: 50%;
  margin-top: -135px;
  font-weight: bold;
  font-size: 66px;
  color: #fff;
  line-height: 90px;
}
.inter{
  margin:100px auto 40px;
  width: 712px;
  .inter-title{
    font-size: 50px;
    color: $color1;
    line-height: 60px;
  }
  p{
    margin-top: 2%;
    font-size: 18px;
    color: #B9A491;
    letter-spacing: 0;
    line-height: 28px;
  }
}
.swiper-box{
  position: relative;
  width: 95%;
}
.cities{
  width: 100%;
  height: auto;
  .swiper-slide{
    /*margin-right: 1.4%;
    width: 19.4%;*/
    width: 20.8%;
    height: 100%;
    @include border-radius(8px);
    img{
      width:100%;
      height: 100%;
      @include border-radius(8px);
    }
    p{
      position: absolute;
      left: 0;
      bottom: 10%;
      width: 100%;
      text-align: center;
      font-size: 24px;
      color: #fff;
      line-height: 24px;
    }
   /* &:last-child{
      width: 19.4%!important;
      .swiper-box{
        width: 100%;
      }
    }*/
  }
}

.carts{
  /*height: 40.3%;*/
  .swiper-slide{
    width: 40.3%;
   /* margin-right: 1.4%;*/
  }
  .swiper-box{
    width: 97%;
  }
}
.cart-box{
  position: relative;
  @include border-radius(8px);
  img{
    width: 100%;
    height: 100%;
    @include border-radius(8px);
  }
  p{
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -29px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 28px;
    span{
      font-size: 14px;
    }
  }
  &:hover{
    &:before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(222,108,30,.9);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5de6c1e,endColorstr=#E5de6c1e);
      @include border-radius(8px);
    }
    p{
      display: block;
    }
  }
}
.cart-left,.cart-right{
  width: 48.3%;
  height: 100%;
}
.cart-left{
  .cart-box:first-child{
    margin-bottom: 7%;
  }
}
.carts-model2,.carts-model4{
  .cart-top,.cart-bot{
    width: 100%;
    height: 48%;
  }
  .cart-top{
    margin-bottom: 3.5%;
  }
}
.carts-model2{
  .cart-bot{
    .cart-box{
      width: 48%;
      height: 100%;
    }
  }
}
.carts-model4{
  .cart-top{
    .cart-box{
      width: 48.2%;
      height: 100%;
    }
  }
}
.carts-model3{
  .cart-box{
    width: 100%;
    height: 100%;
  }
}
.stories{
  ul{
    margin:0 auto;
    width: 85%;
  }
  li{
    position: relative;
    padding-top: 54px;
    @include inline;
    vertical-align: top;
    margin-left: 8%;
    width: 24%;
    &:first-child{
      margin-left: 0;
    }
    &:before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -19px;
      width: 38px;
      height: 38px;
      background: url(../images/exwys-web-sprite.png) 10px -36px no-repeat;
      background-size: 77%;
    }
  }
  p{
    font-size: 16px;
    color: $color1;
    line-height: 24px;
    min-height: 146px;
  }
  h6{
    margin:20px 0 2px 0;
    font-size: 16px;
    color: $color1;
  }
  span{
    font-size: 12px;
    color: #B9A491;
  }
}
.join{
  position: relative;
  margin-top: 6%;
  padding: 100px 0;
  background: url("../images/join-us-bg.png") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
}
.join-con{
  @include inline;
  padding: 5%;
  vertical-align: top;
  margin-left: 1%;
  width:40.3%;
  text-align: left;
  z-index: 9;
  background: rgba(0,0,0,.75);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
  border:2px solid #414143;
  @include border-radius(8px);
  &:first-child{
    margin-left: 0;
  }
  h3,p{
    margin-bottom: 30px;
  }
  h3{
    font-size: 40px;
    color: #fff;
    line-height: 48px;
  }
  h6{
    margin-bottom: 16px;
    font-size: 14px;
    color: #fff;
  }
  p{
    font-size: 16px;
    line-height: 21px;
    color: #848282;
  }
  li:last-child p{
    margin-bottom: 0;
  }
}
.join-icon{
  display: block;
  width: 25px;
  height: 44px;
  &:before{
    content: "";
    display: block;
    width: 100%;
    height: 28px;
    background-image: url("../images/exwys-web-sprite.png");
    background-repeat: no-repeat;
    background-size: 120%;
  }
}
.join-icon01:before{
  background-position: -3px -72px;
}
.join-icon02:before{
  background-position: -3px -105px;
}
.join-icon03:before{
  background-position: -3px -140px;
}
.join-icon04:before{
  background-position: -3px -176px;
}
.join-icon05:before{
  background-position: -3px -209px;
}
.join-icon06:before{
  background-position: -3px -245px;
}
.downLoad{
  position: relative;
  margin:98px auto;
  width: 68%;
  min-width: 980px;
}
.downLoad-img{
  @include inline;
  width: 380px;
}
.downLoad-msg{
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -100px;
  width: 560px;
  color: $color1;
  white-space: nowrap;
  h3{
    font-size: 50px;
    line-height: 50px;
  }
  span{
    font-size: 34px;
  }
  .header-down{
    margin-top: 50px;
  }
}
.cities,.story-person{
  img:hover{
    @include opacity(80)
  }
}
.footer{
  padding: 1% 0 30px 0;
  background: #151515;
}
.footer-top{
  padding: 40px 0;
  margin:0 auto;
  width: 82%;
  border-bottom: 1px solid #333;
}
.footer-col1{
  width: 120px;
  img{
    width: 100%;
  }
}
.footer-col2{
  margin:0 auto;
  width: 508px;
  font-size: 14px;
  line-height: 20px;
  li{
    margin-bottom: 10px;
  }
  li:first-child{
    margin-bottom: 14px;
    color: #B9A491;
  }
  >.fl{
    a{
      color: #fff;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  >.fr{
    color: #fff;
    p{
      padding-top: 16px;
    }
    span{
      text-decoration: underline;
    }
  }
}
.footer-col3{
  a{
    @include inline;
    margin-left: 10px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    @include border-radius(4px);
    &.fx01{
      background: url("../images/exwys-web-sprite.png") no-repeat 10px -365px #55ACEE;
      -webkit-background-size: 80%;
      background-size: 80%;
      -moz-background-size: 80%;
      -ms-background-size: 80%;
      -o-background-size: 80%;
    }
    &.fx02{
      background: url("../images/exwys-web-sprite.png") no-repeat 10px -399px #DF4B38;
      -webkit-background-size: 80%;
      background-size: 80%;
      -moz-background-size: 80%;
      -ms-background-size: 80%;
      -o-background-size: 80%;
    }
    &.fx03{
      background: url("../images/exwys-web-sprite.png") no-repeat 10px -436px #3B5998;
      -webkit-background-size: 80%;
      background-size: 80%;
      -moz-background-size: 80%;
      -ms-background-size: 80%;
      -o-background-size: 80%;
    }
    &.fx04{
      background: url("../images/exwys-web-sprite.png") no-repeat 10px -474px #34465D;
      -webkit-background-size: 80%;
      background-size: 80%;
      -moz-background-size: 80%;
      -ms-background-size: 80%;
      -o-background-size: 80%;
    }
    &:hover{
      @include opacity(90)
    }
  }
}
.footer-bot{
  padding-top: 1%;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

@media screen and (min-width:1700px){
  .downLoad{
    width: 60%;
  }
}
@media screen and (max-width:1500px) {
  .stories p{
    min-height: 180px;
  }
  .downLoad{
    width: 70%;
  }
}
@media screen and (max-width:1440px) {
  .downLoad{
    width: 80%;
  }
}
@media screen and (max-width:1100px) {
  .stories p{
      min-height: 216px;
  }
  .join-con h3{
    font-size: 36px;
  }
  .join-con h3, .join-con p{
    margin-bottom: 34px;
  }
}
@media screen and (max-width:995px) {
  .stories p{
    min-height: 230px;
  }
}