<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"  ng-app="Special" ng-class="{banscoll: banScroll}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>专题</title>
    <link rel="stylesheet" href="public/css/base.css">
    <script src="public/js/jquery.js"></script>
    <script src="public/js/base.js"></script>
    <script src="public/js/angular.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="public/js/wxShare.js"></script>
</head>
<body ng-class="{banscoll: banScroll}">
<header class="header">
    <div  class="logo pl"><a href="index.html"  target="_self"><img src="public/img/logo.png" alt=""></a></div>
    <h1>专题</h1>
    <div class="pr"><a href="javascript:;" class="share" ng-click="shareShowEvent()"></a></div>
</header>

<div class="IT168Detail" id="ITi68Wrap" ng-controller="specialCtrl" ng-cloak>
    <!--专题摘要开始-->
    <div class="abstract">
        <img ng-src="{{data.abstractImg}}" alt="">
        <p>专题摘要：{{data.abstractContent}}</p>
        <div class="label">
            <a href="javascript:;" target=_self ng-repeat="(key,label) in data.abstractLabel" ng-click="anchorsJump(key)">{{label.label}}</a>
        </div>
    </div>
    <!--专题摘要结束-->

    <!--专题小类开始-->
    <div ng-repeat="(key,special) in data.specialList" id="label{{key}}">
        <div class="line"></div>
        <div class="special-class">
            <h3 class="class-title">{{special.className}}</h3>
            <ul class="IT-list" style="padding: 0;">
                <li ng-repeat="(key,item) in special.classList" ng-cloak class="{{item.class}}">
                    <a href="{{item.link}}{{item.id | filterId}}" target="_self"   ng-if="item.class != 'item-img'">
                        <div class="mess">
                            <div class="text">{{item.text}}</div>
                            <div class="time"><span class="{{item.classify}}">{{item.classifyText}}</span>{{item.time | filterTime}}</div>
                        </div>
                        <img ng-src="{{item.imgSrc}}" alt="">
                    </a>
                    <a href="{{item.link}}{{item.id | filterId}}" target="_self"  ng-if="item.class =='item-img'">
                        <div class="mess">
                            <div class="text">{{item.text}}</div>
                        </div>
                        <div class="pic">
                            <img alt="" ng-repeat="value in item.imgSrc.src" ng-src="{{value.imgSrc}}">
                            <div class="picnum">{{item.imgSrc.num}}图</div>
                        </div>
                        <div class="time"><span class="{{item.classify}}">{{item.classifyText}}</span>{{item.time | filterTime}}</div>
                    </a>
                </li>


            </ul>
        </div>
    </div>

    <!--<div class="line"></div>
    <div class="special-class">
        <h3 class="class-title">专题小类B</h3>
        <ul class="IT-list" style="padding: 0;">
            <li ng-repeat="(key,item) in items" ng-cloak class="{{item.class}}">
                <a href="{{item.link}}{{item.id | filterId}}" target="_self"   ng-if="item.class != 'item-img'">
                    <div class="mess">
                        <div class="text">{{item.text}}</div>
                        <div class="time">
                            &lt;!&ndash;<span class="{{item.classify}}">{{item.classifyText}}</span>&ndash;&gt;
                            {{item.time}}</div>
                    </div>
                    <img ng-src="{{item.imgSrc}}" alt="">
                </a>
                <a href="{{item.link}}{{item.id | filterId}}" target="_self"  ng-if="item.class =='item-img'">
                    <div class="mess">
                        <div class="text">{{item.text}}</div>
                    </div>
                    <div class="pic">
                        <img alt="" ng-repeat="value in item.imgSrc.src" ng-src="{{value.imgSrc}}">
                        <div class="picnum">{{item.imgSrc.num}}图</div>
                    </div>
                    <div class="time">
                        &lt;!&ndash;<span class="{{item.classify}}">{{item.classifyText}}</span>&ndash;&gt;
                        {{item.time}}</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="line"></div>
    <div class="special-class">
        <h3 class="class-title">专题小类A</h3>
        <ul class="IT-list" style="padding: 0;">
            <li ng-repeat="(key,item) in items" ng-cloak class="{{item.class}}">
                <a href="{{item.link}}{{item.id | filterId}}" target="_self"   ng-if="item.class != 'item-img'">
                    <div class="mess">
                        <div class="text">{{item.text}}</div>
                        <div class="time">
                            &lt;!&ndash;<span class="{{item.classify}}">{{item.classifyText}}</span>&ndash;&gt;
                            {{item.time}}</div>
                    </div>
                    <img ng-src="{{item.imgSrc}}" alt="">
                </a>
                <a href="{{item.link}}{{item.id | filterId}}" target="_self"  ng-if="item.class =='item-img'">
                    <div class="mess">
                        <div class="text">{{item.text}}</div>
                    </div>
                    <div class="pic">
                        <img alt="" ng-repeat="value in item.imgSrc.src" ng-src="{{value.imgSrc}}">
                        <div class="picnum">{{item.imgSrc.num}}图</div>
                    </div>
                    <div class="time">
                        &lt;!&ndash;<span class="{{item.classify}}">{{item.classifyText}}</span>&ndash;&gt;
                        {{item.time}}</div>
                </a>
            </li>
        </ul>
    </div>-->
    <!--反馈开始-->
    <div class="IT-feedback" when-scrolled ng-hide="feedback"><a href="javascript:;" target="_self"  ng-click="backTop()"></a><a href="https://jinshuju.net/f/PSJ9ql" target="_self"></a></div>
    <!--反馈结束-->

    <!--专题小类结束-->


    <!--分享模块开始-->
    <!--<div ng-include="'views/share.html'"></div>-->
    <div class="share-wrap" ng-click="shareHideEvent()">
        <div class="wx-share-img">
            <img src="public/img/weixin_share2.png" alt="">
        </div>
        <div class="IT-share">
            <div class="close"></div>
            <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1515997092753">
                <h2 class="graydeep">分享到</h2>
                <p><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a></p>
                <p><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a></p>
            </div>
            <div class="qita-share">
                <p>请使用浏览器的分享功能<br/>分享到微信等</p>
            </div>
        </div>
    </div>
    <!--分享模块结束-->


</div>
<!--footer部分开始-->
<div ng-include="'views/footer.html'"></div>
<!--footer部分结束-->

<script>
    var app = angular.module("Special",[]);
    app.run(['$rootScope','$location', '$http',function ($rootScope,$location,$http) {
        /*返回顶部按钮显示或隐藏*/
        $rootScope.feedback = true;

        /*分享弹框显示隐藏--star*/
        $rootScope.shareShowEvent = function(){
            angular.element(".share-wrap").show();
        };
        /*分享弹框显示隐藏--end*/
    }]);
    app.controller("specialCtrl",['$scope','$http',function($scope,$http){/*返回顶部事件*/
        $scope.backTop = function(){
            angular.element('html,body').animate({scrollTop:0}, 300);
        };
        $scope.anchorsJump = function(key){
            angular.element('html,body').animate(
                    {
                        scrollTop:angular.element('#label'+key).offset().top-50
                    }, 300);
        };

        /*请求数据布在页面上*/
        $http({
            method: 'get',
            url: 'datas/special.json',
            params: { // get 参数
//                id: $location.search().id
            },
            headers: {'Content-Type': 'application/x-www-form-urlencoded'}
        }).success(function(data,status,headers,config){
            $scope.data = data.data;
            shareEvent(data.title,data.abstractContent,data.abstractImg);
        });


    }]);
    /*滚动到第二屏事件开始--显示反馈按钮*/
    app.directive('whenScrolled', ['$rootScope','$timeout', function ($rootScope,$timeout) {
        return function (scope, elem, attrs) {
            var forbid = false;
            $(window).scroll(function () {
                if (!forbid) {
                    var scrollTop = $(window).scrollTop();
                    var windowHeight = $(window).height();
                    if (scrollTop <= windowHeight) {
                        $rootScope.feedback = true;
                    } else {
                        $rootScope.feedback = false;
                    }
                    $rootScope.$apply();
                }

            });
        }
    }])
    /*滚动到第二屏事件结束*/
    /*对链接后的参数进行过滤*/
    app.filter("filterId", function () {
        return function (input) {
            if(input == -1){
                return
            }else {
                return "?id="+input
            }
        }
    })
    app.filter("filterTime", function () {
        return function (input) {
            var postTime = parseInt(input);
            var timestamp = parseInt(Date.parse(new Date()));
            var disTime = parseInt((timestamp - postTime)/1000/60);
            var postDate = (new Date(postTime).getMonth()+1)+"月"+new Date(postTime).getDate()+"日";
            if(disTime <60){
                if(disTime == 0){
                    return "刚刚";
                }else {
                    return disTime+"分钟前";
                }
            }else {
                if(disTime/60 <24 ){
                    return parseInt(disTime / 60)+"小时前"
                }else {
                    return postDate;
                }
            }
        }
    })

</script>

</body>
</html>